@import "base/media";
@import "base/var_mix";

* {
	font-family: 'Museo Sans', sans-serif;
	font-weight: 500;
}
.container {
	max-width: 950px;
	margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/titles";
@import "blocks/consultation";