.footer {
  position: relative;
  background-color: $main-color;
  &__map {
    width: 100%;
    height: 800px;
    border: 0;
  }
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 50px 0 60px 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background-color: $main-color;
  }
  address {
    margin-bottom: 0;
  }
  &__tel {
    display: block;
    margin: 36px 0 38px 0;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  &__social {
    width: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: solid 2px #fff;
      color: #fff;
      border-radius: 50%;
      text-decoration: none;
      &:hover {
        color: #fff;
        box-shadow: 1px 1px 5px #fff;
      }
    }
    span {
      font-size: 27px;
    }
  }
}
